# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# python version
.python-version

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
coverage.xml

# mypy
.mypy_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment files
.env
.venv

# Editor temporary files
*~
*.swp

# Jupyter
.ipynb_checkpoints/

# Charm Crush
.crush